button:hover {
    cursor: pointer;
}

.header {
    height: 80px;
    background-color: #560808;
    display: flex;
    align-items: center;
}

.header h1 {
    margin: 0 !important;
    color: #fff;
}

.logo-image {
    height: calc(100% - 20px);
    margin: 0 10px;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #560808;
}

.my-modal {

    left: calc(50% - 250px);
    width: 500px;
    margin: 0;
    top: calc(50% - 95px);
}

.modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
}
a.page-link:hover{
    cursor: pointer;
}

.page-item.active .page-link {
    z-index: -1!important;
}

.mb-6{
    margin-bottom: 4rem!important;
}
